<div class="md-padding flex v-top">
 <md-card-subtitle class="md-card-subtitle"><h2 class="md-headline">{{'CONTACT' | translate}}</h2></md-card-subtitle>
  <md-card class="width">
    <md-card-subtitle>
      <span class="md-headline">{{'CREATE_TAX_TYPES' | translate }}</span>
    </md-card-subtitle>
    <md-card-content>
      <form class="row">
        <div class="md-padding flex">
          <md-input name="prepaid.product.taxDescription" [(ngModel)]="prepaid.product.taxDescription" placeholder="{{'TAX_DESCRIPTION' | translate }}"></md-input>
        </div>
        <div class="md-padding flex">
          <md-input name="prepaid.product.taxPercentage" [(ngModel)]="prepaid.product.taxPercentage" placeholder="{{'TAX_PERCENTAGE' | translate }}"></md-input>
        </div>
      </form>
    </md-card-content>
  </md-card>
</div>
