<md-card class="homepage-section">
  <md-card-content class="text-center">
    <img src="/assets/img/Bullhorn.png">
    <div class="bottom-line large">
    </div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat
      cupidatat non proident.
    </p>
  </md-card-content>
</md-card>
<md-card class="homepage-section">
  <md-card-content class="text-center">
    <img src="/assets/img/User.png">
    <div class="bottom-line large">
    </div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
    </p>
  </md-card-content>
</md-card>
<md-card class="homepage-section">
  <md-card-content class="text-center">
    <img src="/assets/img/Settings.png">
    <div class="bottom-line large">
    </div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
    </p>
  </md-card-content>
</md-card>
<md-card class="homepage-section">
  <md-card-content class="text-center">
    <img src="/assets/img/Lightning.png">
    <div class="bottom-line large">
    </div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat
      cupidatat non proident.
    </p>
  </md-card-content>
</md-card>
